body {
  background-color: #EEE;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

shop {
  display: block;
  font-size: 1em;
  color: #C11;
  margin-top:16px;
  margin-bottom:16px;
}

moeda {
  display: block;
  color: #1C1;
  font-weight: bold;
}

input, textarea {
  padding: 5px 15px;
}

input[type=text], input[type=password] {
  width: 256px;
}

fieldset {
  width: 256px;
  padding: 50px;
  background-color: lightgray;
  border: 2px groove;
}


table, td {
  background-color: lightgray;
  border: 30px solid gray;
  border-collapse: collapse;
}

td {
  background-color: white;
  text-align: center;
  padding: 30px 10px;
  width: 256px;
  vertical-align: bottom;
}

.navbar user {
  float: right;
  padding: 5px;
  color: #ff8;
  text-decoration: none;
  font-size: 5px;
  background-color: #000;
}

.navbar {
  width: 100%;
  box-shadow: -10px -10px 25px #000;
  text-transform: uppercase;
  background-color: #000;
  overflow: auto;
}

.nav1 {
  font-size: 15px;
  float: left;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

.nav1:hover {
  background-color: #d9d9d9;
}


.active:hover {
  background-color: #000;
  color: #fff;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
  }
}

.navbard a {
   float:right;
}

.pagbar {
  padding: 12px;
  background-color: #555;
}

.pagbar a {
  padding: 12px;
  color: #39d;
  text-decoration: none;
  font-size: 14px;
}

.pagbar current {
  padding: 12px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.pagbar a:hover {
  background-color: #000;
}

iframe {
    box-shadow: 0px 0px 20px -10px #000;
}


