<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body>

<div class="navbar">
    <a class="nav1" href="/"><img src="/static/Capturar.PNG">
        {% for nome in menu %}
        <a class="nav1" href="/pr_ini/{{ nome.title }}"> {{ nome.title }}</a>
        {% endfor %}
        {% if usr %}
        <a class="nav1" href="/logout">Logout</a>
        <user><i class="fa fa-fw fa-user-tie"></i> {{ usr }}</user>
        {% else %}
        <div class="navbard">
            <a class="nav1" href="/login">Login</a>
            <a class="nav1" href="/registo">Registo</a>
            <a class="nav1" href="/">Download</a>
            <a class="nav1" href="/">Web Player</a>
        </div>
        {% endif %}

</div>

{% block conteudo %}
{% endblock %}

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
}

</style>

<div class="footer">
    <img src="/static/Capturar.PNG">
    <br>
    <br>
    <br>
    <center>
        <small style="color:#bbb">&copy; Copyright 2019 Gonçalo Figueiredo</small>
    </center>
</div>


</body>
</html>



