<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Escola Secundária de Maximinos</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<body>

<div class="navbar">
    <a href="#home">Home</a>

    <div class="dropdown">
        <button class="dropbtn">Cães

            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <div class="header">
            </div>
            <div class="row">
                <div class="column">
                    <h3>ALIMENTAÇÃO</h3>
                    <a href="#">Júnior</a>
                    <a href="#">Adulto</a>
                    <a href="#">Sénior</a>
                </div>
                <div class="column">
                    <h3>ALIMENTAÇÃO HÚMIDA</h3>
                    <a href="#">Natures Menu</a>
                    <a href="#">Almo Nature</a>
                    <a href="#">Little Big Paw</a>
                    <a href="#">Mhims</a>
                    <a href="#">Royal Canin</a>
                    <a href="#">Purina</a>
                    <a href="#">Pedigree</a>
                    <a href="#">Naturea</a>
                    <a href="#">Hill's</a>
                    <a href="#">Natural Greatness</a>
                    <a href="#">Outros</a>
                    <a href="#">Pooch & Mutt</a>
                    <a href="#">NaturDog</a>
                </div>
                <div class="column">
                    <h3>SNACKS E OSSOS</h3>
                    <a href="#">Snacks</a>
                    <a href="#">Ossos</a>
                </div>
            </div>
        </div>
    </div>
    <a href="#news">News</a>
    <a class="active" href="#"></i> Home</a>
    <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
    <a href="#"><i class="fa fa-fw fa-user"></i> Registo</a>
</div>


</body>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!--
    instagram: www.instagram.com/programmingtutorial
    site: programlamadersleri.net
-->


<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-12">
                <span class="logo">LOGO</span>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="menu">
                    <span>Menu</span>
                    <li>
                        <a href="#">Home</a>
                    </li>

                    <li>
                        <a href="#">About</a>
                    </li>

                    <li>
                        <a href="#">Blog</a>
                    </li>

                    <li>
                        <a href="#">Gallery </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="address">
                    <span>Contact</span>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">Phone</a>
                    </li>
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">Adress</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">Email</a>
                    </li>
                    <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
                </ul>
            </div>


        </div>
    </div>
</footer>

</html>


{% block conteudo %}
{% endblock %}


<h3>&copy 2019 Gonçalo Figueiredo</h3>
</body>
</html>


