<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Escola Secundária de Maximinos</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<body>

<div class="navbar">
    <a href="#home">Home</a>

    <div class="dropdown">
        <button class="dropbtn">Cães
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">SAM</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <a href="#news">News</a>
    <a class="active" href="#"></i> Home</a>
    <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
    <a href="#"><i class="fa fa-fw fa-user"></i> Registo</a>
</div>


</body>
</html>


{% block conteudo %}
{% endblock %}


<h3>&copy 2019 Gonçalo Figueiredo</h3>
</body>
</html>

